form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: auto;
  max-width: 600px;
}

form label {
  margin-bottom: .5rem;
}

label {
  color: white;
}

form input, textarea {
  margin-bottom: 1rem;
  padding: 10px 18px;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, .1);
  border-color: rgba(255, 254, 254, 0.1);
  color: white;
}