@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Inknut+Antiqua&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: 'Inknut Antiqua', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(10, 10, 10);
}

h1, h4, p, a {
  color: white;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.btn {
  padding: 12px 32px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.btn-light {
  background: rgba(186, 83, 23, 0.2);
}

.btn:hover {
  background: rgb(36, 35, 35, .2);
}